
body {
      width: auto ;
      height: auto;
      background-image: url("tlo1.jpg");
      background-size: cover;
      background-position: fixed;
      background-repeat: repeat-x;
      position: absolute;
      margin: 0;
     }
toplane {
  width: 100%;
  height: 100%;
  color: lightgrey;
  position: absolute;
  background-color: grey;
  background-size:
}
h1    {
      height: bottom;
      width: auto;
      font-size: 30;
      font-family: "Verdana", Times, sans-serif;
      font-weight: normal;
      }

h2    {
      height: auto;
      width: auto;
      font-size: 30;
      font-family: "Verdana", Times, sans-serif;
      font-weight: normal;
      }

h3    {
      height: auto;
      width: auto;
      font-size: 30;
      font-family: "Verdana", Times, sans-serif;
      font-weight: normal;
      }
h1:hover, h2:hover, h3:hover
      {
        background-color: rgba(0, 0, 0, 0.2);
        cursor:default;
        background-blend-mode: luminosity;
      }
div1
{
        height:50;
        width: 100%;
        background-color: rgba(50, 50, 50, 0.8);
        position:fixed;
        border-style: none;
        background-repeat: repeat-x;
        -webkit-align-content: center;
        align-content: inherit;
        transition: top 1s;
        top: -33px;
        /*
        -webkit-animation-name: menuHideAnim;
        -webkit-animation-duration: 1s;
        animation-delay: 0.6s;
        -webkit-animation-play-state: running;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: 1;
        -webkit-animation-fill-mode: both;*/
      }
div1:hover
{
    top: 0px;
    /*-webkit-animation-name: menuDropAnim;
    -webkit-animation-duration: 1s;
    animation-play-state: running;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;*/
}
div2
{
        height:300px;
        width: 200px;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        border-style: solid;
        top: 110;
        left: 0;
      }
div3
{
        height: 50;
        width: 50;
        font-weight: normal;
        background-image: url("Home.png");
        position: absolute;
        background-position: top;
        background-repeat: no-repeat;
        background-size: 70%;
        left: 50%;
      }
div3:hover
{ background-color: white;
      }
div4
{
        height: 50;
        width: 50;
        background-image: url("Brush.png");
        position: absolute;
        background-position: top;
        background-repeat: no-repeat;
        background-size: 70%;
        left: 25%;
      }
div4:hover
{ background-color: white;

          }
div5
{
  font-family: "Verdana", Times, sans-serif;
  font-weight: normal;
  font-size: 10;
  width: 50;
  height: auto;
  cursor:default;
  position: inherit;
  top:35;
  left: 0;
  -webkit-animation-name: DropLeft;
  -webkit-animation-duration: 0.7s;
  text-align: center;
  /*animation-delay: 1;*/
  -webkit-animation-play-state: running ;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: 1;

  -webkit-animation-fill-mode: both;
  background-color: rgba(50, 50, 50, 0.8);
}
div5:hover
{

          -webkit-animation-name: DropRight;
          -webkit-animation-fill-mode: both;
          -webkit-animation-iteration-count: 1;
          -webkit-animation-play-state: running ;

          background-color: rgba(255, 255, 255, 0.8);
          }
div6
{
        height: 50;
        width: 50;
        background-image: url("account.png");
        position: absolute;
        margin-left: 75%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: 70%;
      }
div6:hover
      {
        background-color: white;
      }
div7
{
  height:15;
  width: 100%;
  font-family: "Verdana", Times, sans-serif;
  font-weight: normal;
  font-size: 10;
  background-color: rgba(100, 100, 100, 0.9);
  position:fixed;
  border-style: none;
  background-repeat: repeat-x;
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
  bottom: 0;
}
div8
{
  width: 100px;
  height: 100px;
  position: fixed;
  background-color: blue;
  top: 50%;
  left: 50%;
  transition: height 2s;

}
div8:hover{
  top: 50px;
}
example1
{
  height: 300px;
  width: 300px;
  top: 32%;
  left: 800px;
  position: absolute;
  visibility: visible;
  background-image: url("example1.gif");
  display: none;
  animation-name: 'Opaque';
  animation-duration: 2s;
}
example2
{
  height: 300px;
  width: 300px;
  top: 32%;
  left: 800px;
  visibility: visible;
  position: absolute;
  background-image: url("example2.jpg");
  display: none;
  animation-name: 'Opaque';
  animation-duration: 2s;
}
example3
{
  height: 300px;
  width: 300px;
  top: 32%;
  left: 800px;
  visibility: visible;
  position: absolute;
  background-image: url("example3.png");
  display: none;
  animation-name: 'Opaque';
  animation-duration: 2s;
}

@keyframes DropRight
{
  0% {transform: translate(0,0);}
  100% {transform: translate(50px,0);}
}
@keyframes DropLeft
{
  0% {transform: translate(50px,0);}
  100% {transform: translate(0,0);}
}
@keyframes menuHideAnim
{
    0% {transform: translate(0,0);}
    100% {transform: translate(0,-49px);}
}
@keyframes menuDropAnim
{
    0% {transform: translate(0,-49px);}
    100% {transform: translate(0,0);}
}
