
body {
      width: auto ;
      height: auto;
      background-image: url("tlo1.jpg");
      background-size: cover;
      background-position: fixed;
      background-repeat: repeat-x;
      position: absolute;
     }
.menu
           {
             position: relative;
              /*width: 100%; XXX: IE6 */
           }
h1    {
      width: 430px;
      background-position: center;
      text-align: center;
      position: absolute;
      font-size: 30;
      margin-top: 45%;
      }

h2    {
      width: 430px;
      background-position: center;
      text-align: center;
      position: absolute;
      font-size: 30;
      margin-top: 60%;
      }

h3    {
      width: 430px;
      background-position: center;
      text-align: center;
      position: sticky;
      font-size: 30;
      margin-top: 75%;
      }
h1:hover, h2:hover, h3:hover
      {
        color: rgba(0, 0, 0, 0.5);
      }
figure
      {
        height:300px;
        width: 350px;
        background-color: black;
        opacity: 0.2;
        position: absolute;
        border-style: solid;
        margin-top: 33%;
      }


@keyframes Opaque
  {
    0% {opacity: 0f}
    100% {opacity: 1f}
  }
